In [2]:
import pandas as pd
import numpy as np

## 데이터 불러오기 : read_csv()

In [8]:
# 파일 불러오기
df = pd.read_csv("./data/seoul_park.csv")

## data 폴더에 저장되어 있는 미세먼지 데이터를 불러와 변수 mm에 저장하세요.

In [9]:
mm = pd.read_csv("./data/misemunji.csv")

## 데이터 살펴보기 : head(), tail()
#### head() -> 앞에서부터 데이터 확인, tail() -> 뒤에서부터 데이터 확인 
() 안에 정수 입력하면 입력한 숫자 만큼의 데이터 불러옴

In [10]:
df.head()   # 값 설정 안하면 기본적으로 5개의 첫 데이터를 볼 수 있다.

           날짜 공휴일     날씨   유료합계     어른  청소년  어린이  외국인   단체   무료합계     총계
0  2016-01-01   O  구름 조금  3,359  2,799  141  419   47    0  1,023  4,382
1  2016-01-02   O  구름 많음  5,173  4,370  203  600  100  111  2,092  7,265
2  2016-01-03   O  구름 많음  3,008  2,571  128  309   91    0  1,549  4,557
3  2016-01-04   X  구름 많음    890    602  NaN  235   51  223    800  1,690
4  2016-01-05   X  구름 많음    416    319   35   62   43   47    840  1,256

In [12]:
df.tail(10)   # 값 설정 안하면 기본적으로 가장 끝 5개 데이터 볼 수 있다

              날짜 공휴일     날씨    유료합계     어른  청소년    어린이 외국인   단체   무료합계      총계
1076  2019-03-22   X     맑음     668    634   11     23  36    0    809   1,477
1077  2019-03-23   O    눈/비   2,097  1,760   44    293  42    0  1,465   3,562
1078  2019-03-24   O     맑음  10,039  8,502  161  1,376  74   35  2,748  12,787
1079  2019-03-25   X  구름 많음     768    725    8     35   5    -    770   1,538
1080  2019-03-26   X  구름 조금     791    739   13     39  31    -    953   1,744
1081  2019-03-27   X  구름 많음     504    464   10     30  21    -    613   1,117
1082  2019-03-28   X  구름 많음     761    687   46     28  35  108    904   1,665
1083  2019-03-29   X  구름 조금   1,644  1,447  120     77  14  188  1,226   2,870
1084  2019-03-30   O     흐림   1,539  1,326   44    169  29  115    913   2,452
1085  2019-03-31   O  구름 조금   3,061  2,563  111    387  53    -  1,357   4,418

## 데이터 정보 확인 : info()

In [ ]:
df.info() # 데이터가 몇 개의 값을 가지는지, 어떤 자료형으로 저장되어 있는지 등 확인 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   유료합계    1086 non-null   object
 4   어른      1086 non-null   object
 5   청소년     1081 non-null   object
 6   어린이     1086 non-null   object
 7   외국인     1086 non-null   object
 8   단체      1086 non-null   object
 9   무료합계    1086 non-null   object
 10  총계      1086 non-null   object
dtypes: object(11)
memory usage: 93.5+ KB

### 컬럼 이름을 활용한 특정 컬럼 추출

In [ ]:
df["청소년"]    # 컬럼 이름을 활용하여 특정 컬럼을 시리즈 형태로 추출

0       141
1       203
2       128
3       NaN
4        35
       ...
1081     10
1082     46
1083    120
1084     44
1085    111
Name: 청소년, Length: 1086, dtype: object

In [ ]:
# 미세먼지 데이터 mm 의 초미세먼지 컬럼을 추출해서 cho에 저장
mm.head
cho = mm["초미세먼지"]
cho

0       45
1       31
2       58
3       47
4       16
        ..
1181    60
1182    49
1183    19
1184    24
1185    26
Name: 초미세먼지, Length: 1186, dtype: int64

In [ ]:
# 날씨 컬럼의 데이터 정보 보기
df["날씨"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1086 entries, 0 to 1085
Series name: 날씨
Non-Null Count  Dtype
--------------  -----
946 non-null    object
dtypes: object(1)
memory usage: 8.6+ KB

## 데이터 숫자 세기 : value_counts()

In [23]:
df["날씨"].value_counts()   # 컬럼에 어떤 값들이 몇 개씩 존재하는지 확인

날씨
구름 많음    277
구름 조금    236
맑음       222
비        101
흐림       100
눈          6
눈/비        4
Name: count, dtype: int64