## 데이터 요약하기

In [12]:
import pandas as pd

df = pd.read_csv("./data/seoul_park03.csv")

df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,금
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,토
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,일
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,월
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,화

### 데이터 통계값 확인 : mean(), min(), max(), median()

In [ ]:
df['어른'].mean()   # 어른 컬럼의 평군값(전체 일자의 어른 입장객 수의 평균)

np.float64(3568.5073664825045)

In [8]:
df['총계'].min()    # 총 입장객 수가 가장 적은 날의 입장객 수

np.int64(2)

In [ ]:
# mm 변수에 미세먼지 데이터 불러와서 저장
mm = pd.read_csv("./data/misemunji.csv")

# 집계함수를 사용해 미세먼지가 가장 높은 날의 수치 변수를 badair에 저장
badair = mm['미세먼지'].max()
badair

np.int64(198)

### 데이터 전체 통계 : describe()

In [20]:
df.describe()

,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일
count,1086.000000,1086.000000,1081.000000,1086.000000,1086.000000,1086.000000,1086.000000,1086.000000,1086.000000,1086.000000,1086.000000
mean,4595.651934,3568.507366,463.038853,550.260589,75.399632,892.831492,2090.390424,6686.042357,2017.177716,6.438306,15.670350
std,6461.199603,5456.322438,1424.486882,1013.065306,103.030042,2155.583046,2299.475934,8469.956231,0.980313,3.415790,8.817452
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2016.000000,1.000000,1.000000
25%,606.750000,462.500000,24.000000,43.000000,19.000000,0.000000,667.500000,1322.250000,2016.000000,3.000000,8.000000
50%,1697.000000,1282.000000,80.000000,150.000000,43.000000,73.000000,1182.000000,3030.000000,2017.000000,6.000000,16.000000
75%,5130.500000,3390.750000,298.000000,604.000000,87.000000,691.500000,2867.750000,8146.500000,2018.000000,9.000000,23.000000
max,40219.000000,38511.000000,17345.000000,20277.000000,1174.000000,18420.000000,22789.000000,58688.000000,2019.000000,12.000000,31.000000

### 데이터 그룹화 : groupby()

In [ ]:
# '날씨'를 기준으로 '총계'값의 평균 구하기
df.groupby('날씨')['총계'].mean()   # groupby('기준컬럼')['값으로 쓸 컬럼']

날씨
구름 많음    6234.844765
구름 조금    7409.122881
눈/비      3038.603604
맑음       7756.225225
흐림       6056.450000
Name: 총계, dtype: float64

In [ ]:
df.groupby(['날씨','공휴일'])['총계'].mean()    # []로 두 개 이상 컬럼을 묶어서 사용 가능

날씨     공휴일
구름 많음  O      12994.262500
       X       3489.903553
구름 조금  O      14797.581081
       X       4034.148148
눈/비    O       4239.027778
       X       2462.400000
맑음     O      14658.260274
       X       4374.691275
흐림     O       9374.957447
       X       3113.622642
Name: 총계, dtype: float64

In [ ]:
df.groupby(['날씨','공휴일'])[['어른','어린이']].mean()     # 기준컬럼은() 안에 []추가 // 값 컬럼은[] 안에 [] 추가

                    어른          어린이
날씨    공휴일
구름 많음 O    8279.325000  1152.375000
      X    1366.106599   244.639594
구름 조금 O    9388.608108  1254.202703
      X    1556.111111   283.037037
눈/비   O    2472.111111   358.277778
      X     903.000000   451.253333
맑음    O    9243.287671  1141.273973
      X    1507.610738   298.335570
흐림    O    5857.063830   779.212766
      X    1320.698113   331.981132

In [37]:
# 목요일이면서 공휴일인 날짜의 어른 입장객 수 최대값을 변수 thursday에 저장
df.groupby(['요일','공휴일'])['어른'].max()
thursday = 38511