# 데이터 정제하기

In [8]:
import pandas as pd

df = pd.read_csv("./data/seoul_park03.csv")
df.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-01-01,O,구름 조금,3359,2799,141.0,419,47,0,1023,4382,2016,1,1,금
1,2016-01-02,O,구름 많음,5173,4370,203.0,600,100,111,2092,7265,2016,1,2,토
2,2016-01-03,O,구름 많음,3008,2571,128.0,309,91,0,1549,4557,2016,1,3,일
3,2016-01-04,X,구름 많음,890,602,NaN,235,51,223,800,1690,2016,1,4,월
4,2016-01-05,X,구름 많음,416,319,35.0,62,43,47,840,1256,2016,1,5,화

### 데이터 정렬 : sort_values

In [9]:
# 특정 컬럼의 값을 기준으로 전체 데이터를 정렬한다.
df_sorted = df.sort_values("총계", ascending = False)  # ascending 생략하면 기본값 True(오름차순)

df_sorted.head()

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
125,2016-05-05,O,NaN,40219,38511,1708.0,0,476,35,18469,58688,2016,5,5,목
755,2018-05-05,O,맑음,29521,28592,899.0,30,208,65,22789,52310,2018,5,5,토
390,2017-05-05,O,구름 조금,27046,25824,1222.0,0,616,170,19218,46264,2017,5,5,금
156,2016-06-05,O,구름 조금,33504,28943,1079.0,3482,729,190,8239,41743,2016,6,5,일
363,2017-04-08,O,구름 조금,28514,24756,638.0,3120,220,137,12373,40887,2017,4,8,토

In [10]:
df_sorted.tail(10)

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
641,2018-01-11,X,맑음,43,34,8.0,1,0,0,269,312,2018,1,11,목
18,2016-01-19,X,맑음,78,61,9.0,8,13,0,222,300,2016,1,19,화
743,2018-04-23,X,눈/비,61,55,2.0,4,0,0,227,288,2018,4,23,월
186,2016-07-05,X,NaN,73,27,45.0,1,4,35,182,255,2016,7,5,화
642,2018-01-12,X,맑음,52,45,5.0,2,15,0,176,228,2018,1,12,금
656,2018-01-26,X,맑음,50,31,13.0,6,0,0,172,222,2018,1,26,금
655,2018-01-25,X,맑음,23,23,0.0,0,1,0,139,162,2018,1,25,목
654,2018-01-24,X,맑음,18,16,1.0,1,0,0,110,128,2018,1,24,수
353,2017-03-29,X,구름 조금,0,0,0.0,0,0,0,7,7,2017,3,29,수
352,2017-03-28,X,구름 많음,0,0,0.0,0,0,0,2,2,2017,3,28,화

In [11]:
# 미세먼지 데이터에서 초미세먼지 농도가 3번째로 심했던 날짜를 pollution에 저장

mm = pd.read_csv('./data/misemunji.csv')
mm.sort_values('초미세먼지',ascending = False)

            날짜  미세먼지  초미세먼지     오존  이산화질소  일산화탄소  아황산가스
1159  20190305   186    135  0.035  0.036    0.9  0.006
1109  20190114   166    129  0.005  0.064    1.4  0.006
1158  20190304   169    117  0.030  0.050    1.0  0.006
1160  20190306   141    101  0.028  0.044    0.9  0.006
814   20180325   121     99  0.038  0.035    0.8  0.005
...        ...   ...    ...    ...    ...    ...    ...
918   20180707     9      4  0.027  0.011    0.3  0.003
240   20160828    11      4    NaN  0.011    0.3  0.004
869   20180519    11      4  0.033  0.014    0.3  0.003
1009  20181006     6      3  0.027  0.014    0.3  0.003
917   20180706     7      3  0.020  0.010    0.3  0.003

[1186 rows x 7 columns]

### 인덱스 재지정 : reset_index

In [12]:
# 데이터 프레임의 인덱스를 처음부터 다시 지정해 줄 때 사용
# drop 옵션을 주지 않으면 기존의 index를 지정한 "index" 컬럼이 생김
df_sorted.reset_index(drop=True)    # drop을 True로 지정하여 "index" 컬럼 생성 안함

,날짜,공휴일,날씨,유료합계,어른,청소년,어린이,외국인,단체,무료합계,총계,연,월,일,요일
0,2016-05-05,O,NaN,40219,38511,1708.0,0,476,35,18469,58688,2016,5,5,목
1,2018-05-05,O,맑음,29521,28592,899.0,30,208,65,22789,52310,2018,5,5,토
2,2017-05-05,O,구름 조금,27046,25824,1222.0,0,616,170,19218,46264,2017,5,5,금
3,2016-06-05,O,구름 조금,33504,28943,1079.0,3482,729,190,8239,41743,2016,6,5,일
4,2017-04-08,O,구름 조금,28514,24756,638.0,3120,220,137,12373,40887,2017,4,8,토
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,2018-01-26,X,맑음,50,31,13.0,6,0,0,172,222,2018,1,26,금
1082,2018-01-25,X,맑음,23,23,0.0,0,1,0,139,162,2018,1,25,목
1083,2018-01-24,X,맑음,18,16,1.0,1,0,0,110,128,2018,1,24,수
1084,2017-03-29,X,구름 조금,0,0,0.0,0,0,0,7,7,2017,3,29,수
1085,2017-03-28,X,구름 많음,0,0,0.0,0,0,0,2,2,2017,3,28,화

### 데이터 삭제 : drop

In [13]:
# df.drop("행/열이름", axis=0 또는 1) 0이면 행 삭제, 1이면 열 삭제

# 삭제할 2개의 컬럼을 리스트로 입력
# axis=1로 설정하여 컬럼을 삭제
df=df.drop(["유료합계","무료합계"], axis=1)
df

              날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체    총계     연  월   일 요일
0     2016-01-01   O  구름 조금  2799  141.0  419   47    0  4382  2016  1   1  금
1     2016-01-02   O  구름 많음  4370  203.0  600  100  111  7265  2016  1   2  토
2     2016-01-03   O  구름 많음  2571  128.0  309   91    0  4557  2016  1   3  일
3     2016-01-04   X  구름 많음   602    NaN  235   51  223  1690  2016  1   4  월
4     2016-01-05   X  구름 많음   319   35.0   62   43   47  1256  2016  1   5  화
...          ...  ..    ...   ...    ...  ...  ...  ...   ...   ... ..  .. ..
1081  2019-03-27   X  구름 많음   464   10.0   30   21    0  1117  2019  3  27  수
1082  2019-03-28   X  구름 많음   687   46.0   28   35  108  1665  2019  3  28  목
1083  2019-03-29   X  구름 조금  1447  120.0   77   14  188  2870  2019  3  29  금
1084  2019-03-30   O     흐림  1326   44.0  169   29  115  2452  2019  3  30  토
1085  2019-03-31   O  구름 조금  2563  111.0  387   53    0  4418  2019  3  31  일

[1086 rows x 13 columns]

### 열 이름 바꾸기 : rename

In [14]:
df = df.rename(columns = {'총계': '총입장객수'})    # rename(columns={'기존컬럼명':'바꿀컬럼명'})
df

              날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체  총입장객수     연  월   일 요일
0     2016-01-01   O  구름 조금  2799  141.0  419   47    0   4382  2016  1   1  금
1     2016-01-02   O  구름 많음  4370  203.0  600  100  111   7265  2016  1   2  토
2     2016-01-03   O  구름 많음  2571  128.0  309   91    0   4557  2016  1   3  일
3     2016-01-04   X  구름 많음   602    NaN  235   51  223   1690  2016  1   4  월
4     2016-01-05   X  구름 많음   319   35.0   62   43   47   1256  2016  1   5  화
...          ...  ..    ...   ...    ...  ...  ...  ...    ...   ... ..  .. ..
1081  2019-03-27   X  구름 많음   464   10.0   30   21    0   1117  2019  3  27  수
1082  2019-03-28   X  구름 많음   687   46.0   28   35  108   1665  2019  3  28  목
1083  2019-03-29   X  구름 조금  1447  120.0   77   14  188   2870  2019  3  29  금
1084  2019-03-30   O     흐림  1326   44.0  169   29  115   2452  2019  3  30  토
1085  2019-03-31   O  구름 조금  2563  111.0  387   53    0   4418  2019  3  31  일

[1086 rows x 13 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1086 entries, 0 to 1085
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1086 non-null   object
 1   공휴일     1086 non-null   object
 2   날씨      946 non-null    object
 3   어른      1086 non-null   int64
 4   청소년     1081 non-null   float64
 5   어린이     1086 non-null   int64
 6   외국인     1086 non-null   int64
 7   단체      1086 non-null   int64
 8   총입장객수   1086 non-null   int64
 9   연       1086 non-null   int64
 10  월       1086 non-null   int64
 11  일       1086 non-null   int64
 12  요일      1086 non-null   object
dtypes: float64(1), int64(8), object(4)
memory usage: 110.4+ KB

In [16]:
df.head()

           날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체  총입장객수     연  월  일 요일
0  2016-01-01   O  구름 조금  2799  141.0  419   47    0   4382  2016  1  1  금
1  2016-01-02   O  구름 많음  4370  203.0  600  100  111   7265  2016  1  2  토
2  2016-01-03   O  구름 많음  2571  128.0  309   91    0   4557  2016  1  3  일
3  2016-01-04   X  구름 많음   602    NaN  235   51  223   1690  2016  1  4  월
4  2016-01-05   X  구름 많음   319   35.0   62   43   47   1256  2016  1  5  화

### 결측치 탐색 : isnull()

In [17]:
df.isnull()

,날짜,공휴일,날씨,어른,청소년,어린이,외국인,단체,총입장객수,연,월,일,요일
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,False,False,False,False,False,False,False,False,False,False,False,False,False
1082,False,False,False,False,False,False,False,False,False,False,False,False,False
1083,False,False,False,False,False,False,False,False,False,False,False,False,False
1084,False,False,False,False,False,False,False,False,False,False,False,False,False
1085,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
df.isnull().sum()

날짜         0
공휴일        0
날씨       140
어른         0
청소년        5
어린이        0
외국인        0
단체         0
총입장객수      0
연          0
월          0
일          0
요일         0
dtype: int64

### 결측치 채우기 : fillna()

In [19]:
df.fillna(int(df['청소년'].mean()))

              날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체  총입장객수     연  월   일 요일
0     2016-01-01   O  구름 조금  2799  141.0  419   47    0   4382  2016  1   1  금
1     2016-01-02   O  구름 많음  4370  203.0  600  100  111   7265  2016  1   2  토
2     2016-01-03   O  구름 많음  2571  128.0  309   91    0   4557  2016  1   3  일
3     2016-01-04   X  구름 많음   602  463.0  235   51  223   1690  2016  1   4  월
4     2016-01-05   X  구름 많음   319   35.0   62   43   47   1256  2016  1   5  화
...          ...  ..    ...   ...    ...  ...  ...  ...    ...   ... ..  .. ..
1081  2019-03-27   X  구름 많음   464   10.0   30   21    0   1117  2019  3  27  수
1082  2019-03-28   X  구름 많음   687   46.0   28   35  108   1665  2019  3  28  목
1083  2019-03-29   X  구름 조금  1447  120.0   77   14  188   2870  2019  3  29  금
1084  2019-03-30   O     흐림  1326   44.0  169   29  115   2452  2019  3  30  토
1085  2019-03-31   O  구름 조금  2563  111.0  387   53    0   4418  2019  3  31  일

[1086 rows x 13 columns]

### 결측치 데이터 삭제하기 : dropna()

In [20]:
df.dropna(subset='청소년')

              날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체  총입장객수     연  월   일 요일
0     2016-01-01   O  구름 조금  2799  141.0  419   47    0   4382  2016  1   1  금
1     2016-01-02   O  구름 많음  4370  203.0  600  100  111   7265  2016  1   2  토
2     2016-01-03   O  구름 많음  2571  128.0  309   91    0   4557  2016  1   3  일
4     2016-01-05   X  구름 많음   319   35.0   62   43   47   1256  2016  1   5  화
5     2016-01-06   X  구름 조금   277   41.0   49   34    0   1174  2016  1   6  수
...          ...  ..    ...   ...    ...  ...  ...  ...    ...   ... ..  .. ..
1081  2019-03-27   X  구름 많음   464   10.0   30   21    0   1117  2019  3  27  수
1082  2019-03-28   X  구름 많음   687   46.0   28   35  108   1665  2019  3  28  목
1083  2019-03-29   X  구름 조금  1447  120.0   77   14  188   2870  2019  3  29  금
1084  2019-03-30   O     흐림  1326   44.0  169   29  115   2452  2019  3  30  토
1085  2019-03-31   O  구름 조금  2563  111.0  387   53    0   4418  2019  3  31  일

[1081 rows x 13 columns]

In [21]:
df['청소년'] = df['청소년'].fillna(int(df['청소년'].mean()))

In [22]:
# 미세먼지 데이터에서 결측치가 있는 컬럼을 파악하고 해당 컬럼의 중앙값(median())으로 채운 뒤 mm에 덮어씌워 저장

# 1. 미세먼지 데이터를 불러와 mm에 저장
mm = pd.read_csv('./data/misemunji.csv')
# 2. 어떤 컬럼에 결측치가 존재하는지 확인
mm.isnull().sum()
# mm의 결측치를 채워넣은 뒤 덮어 씌우자
mm['오존'] = mm['오존'].fillna(mm['오존'].median())