# 데이터 병합하기

In [1]:
import pandas as pd

df = pd.read_csv('./data/seoul_park04.csv')
df.head()

           날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체  총입장객수     연  월  일 요일
0  2016-01-01   O  구름 조금  2799  141.0  419   47    0   4382  2016  1  1  금
1  2016-01-02   O  구름 많음  4370  203.0  600  100  111   7265  2016  1  2  토
2  2016-01-03   O  구름 많음  2571  128.0  309   91    0   4557  2016  1  3  일
3  2016-01-04   X  구름 많음   602  463.0  235   51  223   1690  2016  1  4  월
4  2016-01-05   X  구름 많음   319   35.0   62   43   47   1256  2016  1  5  화

In [2]:
df.tail()

              날짜 공휴일     날씨    어른    청소년  어린이  외국인   단체  총입장객수     연  월   일 요일
1081  2019-03-27   X  구름 많음   464   10.0   30   21    0   1117  2019  3  27  수
1082  2019-03-28   X  구름 많음   687   46.0   28   35  108   1665  2019  3  28  목
1083  2019-03-29   X  구름 조금  1447  120.0   77   14  188   2870  2019  3  29  금
1084  2019-03-30   O     흐림  1326   44.0  169   29  115   2452  2019  3  30  토
1085  2019-03-31   O  구름 조금  2563  111.0  387   53    0   4418  2019  3  31  일

In [3]:
df2 = pd.read_csv('./data/seoul_park_april.csv')    # 2019년 4월 한달간의 데이터
df2.head()

           날짜 요일 공휴일     날씨   유료합계     어른   청소년  어린이  외국인    단체   무료합계     총계
0  2019-04-01  월   X  구름 조금  1,064    953    12   72   42     0    812  1,818
1  2019-04-02  화   X  구름 조금  1,020    938     4   34   36    55  1,061  1,958
2  2019-04-03  수   X     맑음  2,749  2,313    57  337   31  1651  1,208  3,813
3  2019-04-04  목   X     맑음  1,630   1472    25   74   50   123  1,430   2755
4  2019-04-05  금   X     맑음  2,991   1507  1306   97   21  1368  1,109   3872

### 데이터 병합 : concat()

In [4]:
# concat([합칠 데이터1, 합칠 데이터2], axis=0, join='inner',ignore_index=True)
# axis=0 -> 행으로 합치기// axis=1 -> 열로 합치기
# join='inner' -> 공통 컬럼들만 합쳐지고 나머지 컬럼들은 버림 // 'outer' -> 기본값, 모든 컬럼들 다 합치기
# ignore_index=True -> 기존 인덱스 무시하고 새로운 인덱스 만들기 // 기본값은 False로 되어있음
pd.concat([df,df2], axis=0, join='inner',ignore_index=True)

              날짜 공휴일     날씨     어른    청소년   어린이  외국인    단체 요일
0     2016-01-01   O  구름 조금   2799  141.0   419   47     0  금
1     2016-01-02   O  구름 많음   4370  203.0   600  100   111  토
2     2016-01-03   O  구름 많음   2571  128.0   309   91     0  일
3     2016-01-04   X  구름 많음    602  463.0   235   51   223  월
4     2016-01-05   X  구름 많음    319   35.0    62   43    47  화
...          ...  ..    ...    ...    ...   ...  ...   ... ..
1111  2019-04-26   X  구름 많음   1719  270.0   291   17  1911  금
1112  2019-04-27   O  구름 조금  15218  207.0  2173  125   447  토
1113  2019-04-28   O  구름 많음  10947  178.0  1780   88   455  일
1114  2019-04-29   X     흐림  1,169   47.0   130   27   370  월
1115  2019-04-30   X    NaN  1,910  378.0   381   63  2070  화

[1116 rows x 9 columns]

### 데이터 병합 : merge()

In [5]:
mm = pd.read_csv('./data/misemunji.csv')
mm.head()

         날짜  미세먼지  초미세먼지     오존  이산화질소  일산화탄소  아황산가스
0  20160101    68     45  0.006  0.047    1.0  0.006
1  20160102    51     31  0.009  0.044    0.7  0.006
2  20160103    96     58  0.013  0.049    0.9  0.007
3  20160104    74     47  0.025  0.025    0.6  0.006
4  20160105    32     16  0.016  0.025    0.4  0.006

In [6]:
mm['날짜'] = pd.to_datetime(mm['날짜'], format="%Y%m%d")    # 날짜 타입 맞추기
df["날짜"] = pd.to_datetime(df["날짜"], format="%Y%m%d")    # 날짜 타입 맞추기

ValueError: time data "2016-01-01" doesn't match format "%Y%m%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [7]:
# on : 데이터프레임을 합칠 때 기준이 되는 컬럼의 이름
# how : 데이터 프레임의 데이터를 합치는 방법(inner, outer, left, right)
# inner : 교집합(두 데이터프레임이 모두 존재하는 데이터만)
# outer : 합칩합(두 데이터프레임의 모든 데이터 사용)
# left : 왼쪽 데이터프레임에 있는 모든 데이터
# right : 오른쪽 데이터프레임에 있는 모든 데이터
pd.merge(df, mm, on='날짜', how='left')     # merge(병합할 데이터1, 병합할 데이터2, on='기준컬럼', how='병합방식')

ValueError: You are trying to merge on object and datetime64[ns] columns for key '날짜'. If you wish to proceed you should use pd.concat

In [8]:
score = pd.DataFrame({
    '이름': ['민수', '도윤', '서아', '연우', '하준'],
    '국어': [95, 72, 83, 89, 100],
    '수학': [88, 72, 93, 80, 95],
    '영어': [96, 68, 85, 94, 93]},
)

add1 = pd.DataFrame({
    '이름': ['지호', '준우', '예서'],
    '국어': [88, 92, 100],
    '수학': [97, 91, 100],
    '영어': [87, 95, 97],
    '역사': [95, 100, 92]}
)

add2 = pd.DataFrame({
    '이름': ['민수', '서아', '하준'],
    '과학': [93, 82, 89],
    '프로그래밍': [97, 96, 94]}
)

`score`에는 기존의 특별반 5명 학생들의 **이름**과 **국어, 수학, 영어** 점수가 담겨있습니다.
| | 이름  | 국어  | 수학  | 영어  |
|---|---|---|---|---|
| 0 | 민수  | 95  | 88  | 96  |
| 1 | 도윤  | 72  | 72  | 68  |
| 2 | 서아  | 83  | 93  | 85  |
| 3 | 연우  | 89  | 80  | 94  |
| 4 | 하준  | 100 | 95  | 93  |

`add1`에는 3명의 새로운 특별반 학생들의 **이름, 국어, 수학, 영어, 역사**점수가 기록되어 있습니다.

| | 이름  | 국어  | 수학  | 영어  | 역사 |
|---|---|---|---|---|---|
| 0 | 지호  | 88  | 97  | 87  | 95 |
| 1 | 준우  | 92  | 91  | 95  | 100 |
| 2 | 예서  | 100  | 100  | 97  | 92 |

`add2`에는 기존의 특별반 5명의 학생들 중 **과학**과 **프로그래밍**시험을 본 학생들의 시험점수가 **이름**과 함께 기록되어있습니다. 

| | 이름  | 과학  | 프로그래밍 |
|---|---|---|---|
| 0 | 민수  | 93  | 97  |
| 1 | 서아  | 82  | 96  |
| 2 | 하준  | 89  | 94  |

In [9]:
# 1. score와 add1을 활용하여 전체 특별반 8명 학생들의 국어, 수학, 영어 점수데이터를 만들어 ans1에 저장 (hint .concat() 사용)
ans1 = pd.concat([score, add1],axis=0,join='inner',ignore_index=True)
ans1

   이름   국어   수학  영어
0  민수   95   88  96
1  도윤   72   72  68
2  서아   83   93  85
3  연우   89   80  94
4  하준  100   95  93
5  지호   88   97  87
6  준우   92   91  95
7  예서  100  100  97

In [ ]:
# 2. score와 add2를 활용하여 기존 특별반 학생들 중 국어, 수학, 영어, 과학, 프로그래밍 5개 과목의 시험을 모두 본 학생들의 점수 데이터를 만들어 ans2에 저장(hint .merge() 사용)
ans2 = pd.merge(score,add2, on='이름', how='right')
ans2

   이름   국어  수학  영어  과학  프로그래밍
0  민수   95  88  96  93     97
1  서아   83  93  85  82     96
2  하준  100  95  93  89     94